*{
    padding: 0;
    margin: 0;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
nav{
    display: flex;
    background-color:#f38e58;
    position: fixed;
    top: 0; 
    z-index: 1;
    width: 100%;
    height: 80px;
    justify-content: center;
}
nav img{
    width: 120px;
    margin-left: 80px;
    margin-top:20px;
}
.header_list{
    margin-top: 20px;
}
nav ul{
    list-style: none;
    margin-top: 10px;
    width: 100%;
}
nav li{
    display: inline;
    margin-left: 50px;
    font-size: 40;
    color: white;
}
 input::placeholder{
    opacity: 50%;
 }
 textarea::placeholder{
    opacity: 50%;
 }
nav .button{
    width: 230px;
    height: 30px;
   
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
}


.button1{
    color: cornsilk;
    border: 1px solid #02202f;
    background-color:#02202f;
    border-radius: 7px;
    width: 200px;
    height:40px;
    font-size: 12px;
    transition: 0.5s all ease-out;
    cursor: pointer;
}
.button1:hover{ 
    background-color: #041d32; 
    border: 1px solid #052239;
}
.button2{
    color: cornsilk;
    background-color: #f38e58;
    width: 60px;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 20px;
    font-size: 12px;
    width:100px ;
    height: 40px;
    cursor: pointer;
    transition: 0.5s all ease-out;
    
}
.button2:hover{ 
    background-color: #e2d1c71e;
}
.header{
    color: white;
    padding: 12%; 
    background-color: #f38e58;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    margin-top: -40px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.par{
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 18px;
    color: #01212e;
}
main{
   display: flex; 
   flex-direction: row;
   margin-top: 50px;
}

main div{
    padding-left: 6%;
    padding-right: 2%}
.main_left{
    width: 50%;
    /* background-color: red; */
}
.main_right{
    width: 50%;
}
form{
    display: flex;
    flex-direction:column;
}
.p{
    padding-top: 20px;
}
h3{
margin-top: 20px;
font-size: 30px;
color: #5db4db;
font-family: Arial, Helvetica, sans-serif;
}

p{
    margin-top: 20px;
    margin-bottom: 30px;
}

form input{
    margin-top: 20px;
    border-radius: 5px;
    height: 42px;
    border: 1px solid rgb(152, 152, 152);
    padding-left: 10px;
    font-style: italic;
}

form textarea{
    height: 140px;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid rgb(152, 152, 152);
}


.input_button
{
    display: flex;
    justify-content: flex-end;
}
#button_main{
    background-color:#f38e58 ;
    width: 100px;
    height: 40px;
    color: rgba(8, 8, 8, 0.596);
    border-color:#f38e58 ;
    font-family:Arial, Helvetica, sans-serif ;
    
}
#button_main:hover{
    background-color:#e2af938f ;
    border-color:#e2af938f;
}

.h4{
    margin-bottom: 40px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 25px;
    font-weight: normal;
    color: black;
    font-weight:solid;
}


.SM{
    display: flex;
    width: 90%;
    /* background-color: red; */
    padding: 0;
    
}
.SM .parentIcon
{
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 50px;
    margin-right: 20px;
   color:#F38E58;
}

main a{
    color:coral;
    text-decoration: none;
}

/* .f{
    margin-top: -20px;
} */

footer
{
    background-color: #404040;
    margin-top: 100px;


}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    min-height: 270px;
    width: 75%;
    background-color: #404040;
    margin-top: 60px;
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.596);
    margin: 0 auto;
}
  
footer ul{
    list-style:none;
    margin-top: 10px;
}
.button3{
    color: cornsilk;
    border: 1px solid #032030;
    background-color:#032030;
    width: 200px;
    height:48px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s all ease-out;
}

.button3:hover{
    background-color:#05192585;
    border: 1px solid #0f1e2785
}
footer i{
    font-size:20px;
}
h4{
    color: white;
}
footer ul li{
    font-size: 14px;
    margin-top: 10px;
}
.cooperate{
    background-color: #333333;
    height: 30px;
    padding-left: 40px;
    margin-top: -20px;
    color: cornsilk; 
}

footer a{
    text-decoration: none;
    color: #f38e58;
}
footer p{
    padding-top: 6px;
}

@media(max-width:1370px)
{
    footer .footer-content{
        width: 100%;
    }
}
@media(max-width: 1069px){
    nav .button{
        display: none;
    }
    /* .button1{
        display: none;
    } */
}

@media(max-width:1000px)
{
    main
    {
        flex-direction: column;
    }
    .main_left{
        width: 90%;
        /* background-color: red; */
    }
    .main_right{
        width: 90%;
        /* background-color: red; */
    }
   
}
@media(max-width:850px)
{
    .header
    {
        height: 300px;
    }
}

@media(max-width:740px)
{
    footer .footer-content{
        flex-direction: column;
        
    } 
}